<div class="container mt-3">

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-lg">

                <h1 class="titulo">Empleados</h1>
                <table class="table tablas accordion">
                    <thead class="thead-dark tableCabe3">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="accordion-item accordion-flush user-select-none" id="accordionFlushExample">
                        <ng-container *ngFor="let empleado of empleados">
                            <tr style="cursor:pointer;" class=" accordion-header collapsed" data-bs-toggle="collapse"
                                attr.data-bs-target="#flush-collapse{{empleado.id}}" aria-expanded="false"
                                attr.aria-controls="flush-collapse{{empleado.id}}">
                                <td>{{empleado.id}}</td>
                                <td>{{empleado.nombre}}</td>
                                <td>{{empleado.apellidoPat + " " + empleado.apellidoMat}}</td>
                                <td>{{empleado.telefono}}</td>
                                <td>{{empleado.correo}}</td>
                                <td *ngIf="empleado.estado != true;else elseBlock"><button type="button"
                                        class="bg-danger text-white border-0 px-3 py-1">Inactivo</button></td>
                                <ng-template #elseBlock>
                                    <td><button type="button"
                                            class="bg-success text-white border-0 px-3 py-1">Activo</button></td>
                                </ng-template>
                                <td class="icons">
                                    <a routerLink="/productos"><i class="bi bi-trash-fill"></i></a>
                                    <a routerLink="/inicio"><i class="bi bi-pencil-square"></i></a>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="100%" style="padding:0">
                                    <div attr.id="flush-collapse{{empleado.id}}"
                                        class="accordion-collapse collapse cont"
                                        attr.aria-labelledby="flush-heading{{empleado.id}}"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body ">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Veritatis est sed, nesciunt suscipit, maiores itaque enim adipisci
                                            asperiores inventore corporis, laborum voluptates eos quibusdam laudantium
                                            quas ipsam! In, qui distinctio. Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Dolores necessitatibus alias at reprehenderit nemo
                                            assumenda tenetur, in suscipit nulla harum nobis perferendis architecto
                                            voluptatum facere neque, eum atque explicabo vitae! Lorem ipsum dolor sit
                                            amet consectetur adipisicing elit. Odit, officia unde. Doloribus inventore
                                            eaque quasi culpa ratione qui debitis? Repellat, asperiores nobis? Quos
                                            asperiores porro aperiam blanditiis veniam! Laudantium, quos?</div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>




                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>