/*ICONOS*/
.bi-trash-fill {
    font-size: 1.3em;
    color: brown;
    margin-left: 8px;


}

.bi-pencil-square {
    font-size: 1.3em;
    margin-left: 20px;
}

.bi-chevron-down {
    color: black;
    font-size: 1.3em;
    margin-left: 20px;
}

/*TABLA*/
.accordion-header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}


.table {

    text-align: center;
}

.table th {
    color: gray;
}

.table td {
    padding-top: 15px;
}

/*
 .cont{
     background-color: white;
     height: 150px;
 }*/
/*TITULO*/
.titulo{
    color:gray;
    margin-top: 30px;
    font-size: 28px;
}

.tablas {
    margin-top: 50px;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

thead th {
    border: none;
    padding: 30px;
}
