<div class="container mt-3">

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-lg">

                <div class="orden-compra-header col-md-12">
                    <h1 class="titulo">REPORTES DE VENTAS</h1> 
                </div>
                

                <div class="d-flex justify-content-between reportes">
                    <div class="d-flex flex-row  buscadores">
                        <div class="input-group mb-3 col-3 selec_empleado">
                            <select class="form-select " id="inputGroupSelect04" >
                              <option selected>Empleado</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
                        </div>
                        <div class="input-group mb-3 col-3 selec_produc">
                            <select class="form-select" id="inputGroupSelect04" >
                              <option selected>Producto</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
                        </div>

                     </div>
                     <div class="d-flex flex-row p_derecha">
                           
                            <div class="input-group mb-3 buscar_todo">
                                <span class="input-group-text inp_buscar" id="basic-addon1"><i class="bi bi-search"></i></span>
                                <input type="text" class="form-control inp_buscar" placeholder="Busca aquí"  aria-describedby="basic-addon1">
                            </div>
                   
                        <div class="btn_imprimir">
                            <a routerLink="/reportetemplate" class="btn btn-info"><i class="bi bi-printer-fill"></i></a>
                            
                        </div>
                
                     </div>
                </div>

                <table class="table tabla_reportes">
                    <thead  class="tableCabe3">
                        <tr>
                            <th >N° Orden</th>
                            <th >DNI</th>
                            <th>Cliente</th>

                            <th >Empleado</th>
                            <th >Producto</th>
                           
                            <th >Monto</th>
                            <th >Estado</th>
                        
                        </tr>
                    </thead>
                    <tbody class="body_reporte">
                 
                        <tr *ngFor="let venta of detalleVentas | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }">
                            <td>{{venta.venta.id}}</td>
                            <td>{{venta.venta.cliente.dni}}</td>
                            <td>{{venta.venta.cliente.nombre}}</td>
                            <td>{{venta.venta.empleado.nombre}}</td>
                            <td>{{venta.producto.tipo}} - {{venta.producto.marca}}</td>
                            <td>{{venta.unidades * venta.producto.precio}}</td>
                            <td><span class="badge bg-success border-2 px-4 py-2">Completado</span></td>
                            
                          </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>   
            </div>
        </div>
    </div>
</div>

