
<div class="d-flex">
 
  <div class="card text-center card-usuario" style="width: 15rem;">
    <div class="card-header">
      Usuario
    </div>
    <div class="card-body">
      <form class="form" [formGroup]="formularioUsuario" (ngSubmit)="guardarUsuario()" autocomplete="off">
        <div class=" row g-1" >
          <div class="col-auto">
            <div class="form-floating">
             
             
              <input class="form-control" type="text" id="alias floatingInputGrid" formControlName="alias">
              <label  for="floatingInputGrid">Alias</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-floating">
          
          <input class="form-control" type="password" id="contrasena floatingInputGrid" formControlName="contrasena">
          <label  for="floatingInputGrid">Contraseña</label>
        </div>
      </div>
      
        <div class="col-auto">
          <div class="form-floating">
          
          <input class="form-control" type="number" id="idRol floatingInputGrid" formControlName="idRol">
          <label  for="floatingInputGrid">Rol</label>
        </div>
      </div>
      <div class = "roles-text">
        <p>Roles</p>
      
        <span>1- Administrador</span>
        <br>
        <span>2- Proveedor</span>
        <br>
        <span>3- Asistente</span>
       
      </div>
      </div>
        <div class="text-center btnUsua"><button class="btn btn-info mt-3" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear</button></div>
        
      </form>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>

<div class="card text-center card-proveedor" style="width: 40rem;">
  <div class="card-header">
    Nuevo Proveedor
  </div>
  <div class="card-body">
    <form class="form row g-2" [formGroup]="formularioProveedor" (ngSubmit)="guardarProveedor()" autocomplete="off">
      <div class=" row g-2 contenedorForm" >
        <div class="col-auto">
          <div class="form-floating">
            
     
            <input class="form-control" type="text" id="razonSocial floatingInputGrid" formControlName="razonSocial">
            <label  for="floatingInputGrid">Razon Social</label>
          </div>
       </div>
      <div class="col-auto">
        <div class="form-floating">   
          <input class="form-control" type="text" id="nombreComercial floatingInputGrid" formControlName="nombreComercial">
          <label  for="floatingInputGrid">Nombre</label>
        </div>
      </div>
    
      <div class="col-auto">
        <div class="form-floating">
        <input class="form-control" type="text" id="numeroRuc floatingInputGrid"  formControlName="numeroRuc">
          <label  for="floatingInputGrid">RUC</label>
        </div>
      </div>
      <div class="col-auto">
          <div class="form-floating">
          <input class="form-control" type="email" id="correo floatingInputGrid" formControlName="correo">
          <label  for="floatingInputGrid">Correo</label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-floating">
          <input class="form-control" type="text" id="direccion floatingInputGrid" formControlName="direccion">
          <label  for="floatingInputGrid">Direccion</label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-floating">
          <input type="text" class="form-control" id="departamento floatingInputGrid"   formControlName="departamento">
          <label for="floatingInputGrid">Departamento</label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-floating">  
          <input class="form-control" type="text"  id="telefonoProveedor floatingInputGrid" formControlName="telefonoProveedor">
          <label  for="floatingInputGrid">Telefono</label>
        </div>
      </div>
        <div class="col-auto">
          <div class="form-floating">  
            <input class="form-control"   type="number" id="idUsuario floatingInputGrid" formControlName="idUsuario" [readonly]="true">
            <label for="floatingInputGrid">Usuario</label>
          </div>
        </div>
      </div>
      <div class="text-center btnAgregar"><button class="btn btn-info mt-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">Agregar</button></div>
      <div class="modal fade modal-sm" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <br>
              <br>
             ¿Desea agregar el proveedor?
             <br>
             <br>
             <button class="btn btn-info mt-3" type="submit" data-bs-dismiss="modal" >Sí</button>
        
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        
          </div>
        </div>
        </div>
    </form>
  </div>
  <div class="card-footer text-muted">
   
  </div>
</div>
<!-- Modal para usuario -->
<div class="modal fade modal-sm" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <br>
       ¡Se creó un nuevo usuario!
      
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       <br>
       <br>
      </div>

    </div>
  </div>
</div>


</div>