
<div class="text-center mt-3"><button class="btn btn-secondary"   [useExistingCss]="true" printSectionId="print-section" ngxPrint>Imprimir</button></div>
<div id="print-section">
    <div class="mt-5">
        <div class="reporte-container px-5">
            <div class="reporte-header col-md-12 d-flex justify-content-center">
                <h2 >REPORTE DE VENTAS</h2>
            </div>

            <div class="mt-3">
                <div class="row align-items-start text-center">

                    <div class="col w-25 p-3">
                        <h4>Fecha desde</h4>
                        <div class="col-12">{{fechaInicio | date:'short'}}</div>
                    </div>

                    <div class="col w-25 p-3">
                        <h4>Fecha hasta</h4>
                        <div class="col-12">{{fechaFin | date:'short'}}</div>
                    </div>

                    <div class="col w-25 p-3">
                        <h4>Monto Mínimo</h4>
                        <div class="col-12">S/. {{montoMinimo | number:'1.2'}}</div>
                    </div>

                    <div class="col w-25 p-3">
                        <h4>Monto Máximo</h4>
                        <div class="col-12">S/. {{montoMaximo  | number:'1.2'}}</div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="mt-3">
                <div class="row align-items-start  text-center">
                    <div class="col w-25 p-3">
                        <h4>Producto mas vendido</h4>
                        <div class="col">
                            <div class="col-12">{{productoMasVendido.serial}}</div>
                            <div class="col-12">{{productoMasVendido.tipo}}</div>
                            <div class="col-12">{{productoMasVendido.marca}}</div>
                            <div class="col-129">{{productoMasVendido.descripcion}}</div>
                            <div class="col-12">{{productoMasVendido.precio}}</div>
                        </div>
                    </div>
                    <div class="col w-25 p-3">
                        <h4>Empleado destacado</h4>
                        <div class="col">
                            <div class="col-12">{{empleadoDestacado.nombre}}</div>
                            <div class="col-12">{{empleadoDestacado.apellidoPaterno}}</div>
                            <div class="col-12">{{empleadoDestacado.apellidoMaterno}}</div>
                            <div class="col-12">{{empleadoDestacado.telefono}}</div>
                            <div class="col-12">{{empleadoDestacado.correo}}</div>
                        </div>
                    </div>
                    <div class="col w-25 p-3">
                        <h4>Proveedor destacado</h4>
                        <div class="col">
                            <div class="col-12">{{proveedorDestacado.id}}</div>
                            <div class="col-12">{{proveedorDestacado.nombreComercial}}</div>
                            <div class="col-12">{{proveedorDestacado.razonSocial}}</div>
                            <div class="col-12">{{proveedorDestacado.correo}}</div>
                            <div class="col-12">{{proveedorDestacado.telefonoProveedor}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detalle-body mt-3">
                <table class="table table-bordered border-dark">
                    <thead class="table">
                        <tr>
                            <th scope="col" class="text-center">Numero de Orden</th>
                            <th scope="col" class="text-center">Fecha</th>
                            <th scope="col" class="text-center">Cliente</th>
                            <th scope="col" class="text-center">Encargado</th>
                            <th scope="col" class="text-center">Monto</th>
                        </tr>
                    </thead>
                    <tbody class="body_reporte">
                        <tr *ngFor="let compra of compras">
                            <td class="text-center">{{compra.ordenCompra.id}}</td>
                            <td class="text-center">{{compra.creadoEn | date: 'medium'}}</td>
                            <td class="text-center">{{compra.ordenCompra.proveedor.nombreComercial}}</td>
                            <td class="text-center">{{compra.ordenCompra.empleado.nombre}}</td>
                            <td class="text-center">S/. {{compra.ordenCompra.valorTotal | number : '1.2'}}</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td class="" colspan="4">TOTAL</td>
                            <td class="text-center text-danger fw-bold">S/. {{total | number : '1.2'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

