

<div class="d-flex">

  <div class="container col-md-5">
    <h1 class="text-center mt-4">Insertar Usuario</h1>
  <div class="card-body">
    <form class="form" [formGroup]="formularioUsuario" (ngSubmit)="guardarUsuario()" autocomplete="off">
  
  
      <div class="form-group">
            
        <label for="">Alias:</label>
        <input class="form-control" type="text" id="alias" formControlName="alias">
      </div>
    
      <div class="form-group">
    
        <label for="">Contraseña:</label>
        <input class="form-control" type="password" id="contrasena" formControlName="contrasena">
      </div>
    
    
      <div class="form-group">
            
        <label for="">Rol:</label>
        <input class="form-control" type="number" id="idRol" formControlName="idRol">
      </div>
    
      
    
      <div class="text-center"><button class="btn btn-dark mt-3" type="submit">Enviar</button></div>
    </form>
  </div>
  </div>





<div class="container col-md-5">
  <h1 class="text-center mt-4">Insertar Empleado</h1>
  <div class="card-body">
    <form class="form" [formGroup]="formularioEmpleado" (ngSubmit)="guardarEmpleado()" autocomplete="off">
  
  
      <div class="form-group">
            
        <label for="">Nombre:</label>
        <input class="form-control" type="text" id="nombre" formControlName="nombre">
      </div>
    
      <div class="form-group">
    
        <label for="">Apellido Paterno:</label>
        <input class="form-control" type="text" id="apellidoPat" formControlName="apellidoPat">
      </div>
    
    
      <div class="form-group">
            
        <label for="">Apellido Materno:</label>
        <input class="form-control" type="text" id="apellidoMat" formControlName="apellidoMat">
      </div>
    
      <div class="form-group">
            
        <label for="">telefono:</label>
        <input class="form-control" type="text" id="telefono" formControlName="telefono">
      </div>
    
      <div class="form-group">
            
        <label for="">Correo:</label>
        <input class="form-control" type="text" id="correo" formControlName="correo">
      </div>
    
      <div class="form-group">
            
        <label for="">Usuario:</label>
        <input class="form-control"  type="number" id="idUsuario" [readonly]="true" formControlName="idUsuario">
      </div>
    
      <div class="text-center"><button class="btn btn-danger mt-3" type="submit">Enviar</button></div>
    </form>
  </div>
</div>
</div>