<div class="container mt-3">

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">


        <div class="orden-compra-header col-md-12">
          <h1 class="titulo">REPORTE ORDEN DE COMPRAS</h1>
        </div>


        <div class="d-flex justify-content-between reportes">
          <div class="d-flex flex-row  buscadores">
            <div class="input-group mb-3 col-3 selec_fecha">
              <select class="form-select " id="inputGroupSelect04">
                <option selected>Fecha</option>
                <option value="1">1 Trimestre</option>
                <option value="2">2 Trimestre</option>
                <option value="3">3 Trimestre</option>
              </select>
            </div>
            <div class="input-group mb-3 col-3 selec_empleado">
              <select class="form-select" id="inputGroupSelect04">
                <option selected>Empleado</option>
                <option value="1">Shaughn</option>
                <option value="2">Cello</option>
                <option value="3">Viviane</option>
              </select>
            </div>
            <div class="input-group mb-3 col-3 selec_proveedor">
              <select class="form-select" id="inputGroupSelect04">
                <option selected>Proveedor</option>
                <option value="1">Wong & Metro</option>
                <option value="2">Renault</option>
                <option value="3">Changan</option>
              </select>
            </div>

          </div>
          <div class="d-flex flex-row p_derecha">

            <div class="input-group mb-3 buscar_todo">
              <span class="input-group-text inp_buscar" id="basic-addon1"><i class="bi bi-search"></i></span>
              <input type="text" class="form-control inp_buscar" placeholder="Busca aquí"
                aria-describedby="basic-addon1">
            </div>

            <div class="btn_imprimir">
              <a (click)="getTemplateReporteCompra()" class="btn btn-info"><i class="bi bi-printer-fill"></i></a>

            </div>

          </div>
        </div>


        <table class="table tabla_reportes">
          <thead class="tableCabe3">
            <tr>
              <th scope="col" class="text-center">Numero de Orden</th>
              <th scope="col" class="text-center">Tipo de Orden</th>
              <th scope="col" class="text-center">Proveedor</th>
              <th scope="col" class="text-center">Encargado</th>
              <th scope="col" class="text-center">Monto</th>
              <th scope="col" class="text-center">Estado</th>
            </tr>
          </thead>
          <tbody class="body_reporte">

            <tr
              *ngFor="let detalleOrdenCompra of detalleOrdenCompras | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }">
              <td>{{detalleOrdenCompra.id}}</td>
              <td>Compra de {{detalleOrdenCompra.producto.tipo}}</td>
              <td>{{detalleOrdenCompra.ordenCompra.proveedor.nombreComercial}}</td>
              <td>{{detalleOrdenCompra.ordenCompra.empleado.nombre}}</td>
              <td>{{(detalleOrdenCompra.cantidad * detalleOrdenCompra.producto.precio) | number : '1.2-2' }}</td>

              <td *ngIf="detalleOrdenCompra.ordenCompra.confirmado != true; else elseBlock">
                <button type="button" class="badge bg-danger border-2 py-2">
                  No confirmado
                </button>
              </td>
              <ng-template #elseBlock>
                <td>
                  <button type="button" class="badge bg-success border-2 py-2">
                    Confirmado
                  </button>
                </td>
              </ng-template>
            </tr>

          </tbody>
        </table>
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

        <div class="button-actions-end">

        </div>
      </div>
    </div>
  </div>
</div>