.input-group  {
    width: 350px;
  }
  
  .px-3 {
    width: 50px;
  
  }
  
  .dropdown-toggle {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px black solid;
    border-radius: 0.5em;
    padding: 1em;
    color: black;
    width: 140px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .badge {
    width: 120px;
    align-items: center;
    border-radius: 0.5em;
    padding: 1em;
  }

  
  .reportes{
    margin-top: 30px;
   
}
.tabla_reportes{
    margin-top: 40px;
}

.selec_proveedor{
    margin-left: 16px;
    width: 40%;
}

.buscar_todo{
    margin-right:20px;
}

.btn_imprimir{
    margin-right: 3px;
}
.selec_empleado{
  margin-left: 16px;
    width: 40%;
}
.selec_fecha{
  width: 40%;
}
/*TABLA*/
.body_reporte{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
.body_reporte td {
    height: 60px;
}


.table{
   
    text-align: center;
}

.table th{
    color: gray;
}

.table td{
    padding-top: 15px;
}
.tableCabe3 th{

    padding-bottom: 20px;
}

.titulo{
    color:gray;
    margin-top: 30px;
    font-size: 28px;
}

.inp_buscar{
    border-color: aqua;
}