<div class="contenedor-login contenedor mt-5" >
    <div class="imagen-login">
  
    </div>
    <form class="login" [formGroup]="formulario" (ngSubmit)="login()"> 
  
        <br>
        <br>
        <br>
  
  
        <div class="texto-login">
            <h1>Bienvenidos</h1>
        </div>
  
        <div class="input">
            <label for="email">Usuario</label>
            <input class="form-control" type="email" id="alias" required="" placeholder="Ingresa tu Usuario" formControlName="alias">
        </div>
        <div class="input">
            <a href="" class="text-muted float-end"><small>Olvidaste tu contraseña?</small></a>
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" required="" id="contrasena" placeholder="Ingresa tu Contraseña" formControlName="contrasena">
        </div>

  
        <div class="input">
            <input type="submit" value="Iniciar Sesion">
        </div>

  
    </form>
  </div>
  