<h1>Insertar Producto</h1>

<div class="container col-md-6">
  <div class="card-header">
    <h3>Agregar Productos</h3>
  </div>
  <div class="card-body">
    <form action="">

      <div class="form-group">
        <label for="">Descripción:</label>
        <input type="text" [(ngModel)]="modelProducto.descripcion" name="descripcion" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Tipo:</label>
        <input type="text" [(ngModel)]="modelProducto.tipo" name="tipo" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Serial:</label>
        <input type="text" [(ngModel)]="modelProducto.serial" name="serial" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Marca:</label>
        <input type="text" [(ngModel)]="modelProducto.marca" name="marca" class="form-control">
      </div>
      <button (click)="guardar(modelProducto)" class="btn btn-danger">Guardar</button>
    </form>
  </div>
</div>

<!--<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Tipo</th>
      <th>Serial</th>
      <th>Marca</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let producto of producto">
    <td>{{producto.id}}</td>
    <td>{{producto.descripcion}}</td>
    <td>{{producto.tipo}}</td>
    <td>{{producto.serial}}</td>
    <td>{{producto.marca}}</td>
    <td>
      <button (click)="guardar(producto)" class="btn btn-warning"> Guardar</button>
      <button (click)="cancelar()" class="btn btn-danger"> Cancelar</button>
    </td>
    </tr>
  </tbody>

</table>-->
