
<div class="card text-center card-proveedor" style="width: 40rem;">
  <div class="card-header">
    Nuevo Producto
  </div>
  <div class="card-body">
    <form [formGroup]="formularioProducto" (ngSubmit)="guardarProducto()" autocomplete="off">
      <div class=" row g-2 contenedorForm" >
   
      <div class="col-auto">
        <div class="form-floating">      
          <input class="form-control" type="text" id="descripcion floatingInputGrid" formControlName="descripcion">
          <label  for="floatingInputGrid">Descripcion</label>
        </div>
     </div>
      <div class="col-auto">
        <div class="form-floating">      
          <input class="form-control" type="text" id="tipo floatingInputGrid" formControlName="tipo">
          <label  for="floatingInputGrid">Tipo</label>
        </div>
     </div>

      <div class="col-auto">
        <div class="form-floating">      
          <input class="form-control" type="text" id="serial floatingInputGrid" formControlName="serial">
          <label  for="floatingInputGrid">Serial</label>
        </div>
     </div>
  
      <div class="col-auto">
        <div class="form-floating">      
          <input class="form-control" type="text" id="marca floatingInputGrid" formControlName="marca">
          <label  for="floatingInputGrid">Marca</label>
        </div>
     </div>

     <div class="col-auto">
      <div class="form-floating">      
        <input class="form-control" type="number" id="precio floatingInputGrid" formControlName="precio">
        <label  for="floatingInputGrid">Precio</label>
      </div>
   </div>
   <div class="col-auto">
    <div class="form-floating">      
      <input class="form-control" type="number" id="stock floatingInputGrid" formControlName="stock">
      <label  for="floatingInputGrid">Stock</label>
    </div>
 </div>
  </div>
  <div class="text-center"><button class="btn btn-info mt-3" type="submit">Agregar</button></div>

</form>
</div>
<div class="card-footer text-muted">

</div>
</div>

  

<!--<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Tipo</th>
      <th>Serial</th>
      <th>Marca</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let producto of producto">
    <td>{{producto.id}}</td>
    <td>{{producto.descripcion}}</td>
    <td>{{producto.tipo}}</td>
    <td>{{producto.serial}}</td>
    <td>{{producto.marca}}</td>
    <td>
      <button (click)="guardar(producto)" class="btn btn-warning"> Guardar</button>
      <button (click)="cancelar()" class="btn btn-danger"> Cancelar</button>
    </td>
    </tr>
  </tbody>

</table>-->
