<div class="container mt-3">

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">


        <div class="d-flex justify-content-between">
          <h1 class="titulo">PROVEEDORES</h1> <span class="d-flex align-items-center"><a routerLink="insertar"
              class="btn btn-info">Agregar<i class="ps-3 bi bi-plus-lg"></i></a></span>
        </div>
        <table class="table tablas accordion">
          <thead class="tableCabe3">
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>

              <th>RUC</th>
              <th>Email</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="accordion-item accordion-flush user-select-none" id="accordionFlushExample">
            <ng-container
              *ngFor="let proveedor of proveedores | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }">
              <tr style="cursor:pointer;position: relative;"  class=" accordion-header collapsed" data-bs-toggle="collapse"
                attr.data-bs-target="#flush-collapse{{proveedor.id}}" aria-expanded="false"
                attr.aria-controls="flush-collapse{{proveedor.id}}">
                <td>{{proveedor.id}}</td>
                <td>{{proveedor.nombreComercial}}</td>
                <td>{{proveedor.numeroRuc}}</td>
                <td>{{proveedor.correo}}</td>
                <td *ngIf="proveedor.estado != true;else elseBlock"><button type="button"
                    class="bg-inactivo text-white border-0 px-3 py-1">Inactivo</button></td>
                <ng-template #elseBlock>
                  <td><button type="button" class="bg-activo text-white border-0 px-3 py-1">Activo</button></td>
                </ng-template>
                <td class="icons d-flex justify-content-evenly border-0">
                  <button style="padding: 0 !important;" class="btn btn-light" [disabled]="!proveedor.estado" (click)="eliminar(proveedor)"><i class="bi bi-trash-fill m-0"></i></button>


                  <button style="padding: 0 !important;" class="btn btn-light" (click)="editar(proveedor)"  [disabled]="!proveedor.estado"><i class="bi bi-pencil-square m-0"></i></button>

                </td>
                <div  *ngIf="proveedor.estado != true" style="position: absolute; right:-70px; top:2px; bottom: 2px;"><a (click)="activar(proveedor.id)" class="btn"><i class="bi bi-check2"></i></a></div>
              </tr>
              <tr>
                <td colspan="100%" style="padding:0">
                  <div attr.id="flush-collapse{{proveedor.id}}" class="accordion-collapse collapse cont"
                    attr.aria-labelledby="flush-heading{{proveedor.id}}" data-bs-parent="#accordionFlushExample">

                    <div class="accordion-body ">
                      <div class="d-flex flex-wrap">



                        <div class="detalle">
                          <p style="color:#23C4D9; font-weight: bold;">Razon Social</p>

                          <p>{{proveedor.razonSocial}}</p>
                        </div>
                        <div class="detalle">
                          <p style="color:#23C4D9; font-weight: bold;">Direccion</p>
                          <p>{{proveedor.direccion}}</p>

                        </div>
                        <div class="detalle">
                          <p style="color:#23C4D9; font-weight: bold;">Departamento</p>
                          <p>{{proveedor.departamento}}</p>

                        </div>
                        <div class="detalle">
                          <p style="color:#23C4D9; font-weight: bold;">Telefono</p>
                          <p>{{proveedor.telefonoProveedor}}</p>

                        </div>
                        <div class="detalleLargo">
                          <p style="color:#23C4D9; font-weight: bold;">Creado en</p>
                          <p>{{proveedor.creadoEn | date:'long'}}</p>

                        </div>
                        <div class="detalleLargo">
                          <p style="color:#23C4D9; font-weight: bold;">Actualizado en</p>
                          <p>{{proveedor.actualizadoEn | date:'long' }}</p>

                        </div>

                      </div>


                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>




          </tbody>
        </table>
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
      </div>
    </div>
  </div>

</div>