<div class="container mt-5">

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">

        <h1 class = "titulo">Proveedores</h1>
        <table class="table tablas">
          <thead class="tableCabe3">
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
           
              <th>RUC</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="accordion-item accordion-flush user-select-none" id="accordionFlushExample">
            <tr style="cursor:pointer;" class="alert accordion-header collapsed" data-bs-toggle="collapse"
            attr.data-bs-target="#flush-collapse{{1}}" aria-expanded="false"
            attr.aria-controls="flush-collapse{{1}}" role="alert">
              <td>001</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>markotto@email.com</td>           
              <td class="icons">
            
                <a href=""><i class="bi bi-trash-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
                <a class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="bi bi-chevron-down"></i></span>
                </a>
              </td>
            </tr>
            <tr class="alert ">
              <td colspan="100%" style="padding:0">
                  <div attr.id="flush-collapse{{1}}" class="accordion-collapse collapse cont"
                      attr.aria-labelledby="flush-heading{{1}}" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body ">Placeholder 111111</div>
                  </div>
              </td>
          </tr>
     
  
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>