<div class="container mt-3">

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive-lg">

        <h1 class = "titulo">PROVEEDORES</h1>
        <table class="table tablas accordion">
          <thead class="tableCabe3">
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
           
              <th>RUC</th>
              <th>Email</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody class="accordion-item accordion-flush user-select-none" id="accordionFlushExample">
            <ng-container *ngFor="let proveedor of proveedores">
              <tr style="cursor:pointer;" class=" accordion-header collapsed" data-bs-toggle="collapse"
              attr.data-bs-target="#flush-collapse{{proveedor.id}}" aria-expanded="false"
              attr.aria-controls="flush-collapse{{proveedor.id}}" >
                <td>{{proveedor.id}}</td>
                <td>{{proveedor.nombreComercial}}</td>
                <td>{{proveedor.numeroRuc}}</td>
                <td>{{proveedor.correo}}</td>           
                <td class="icons">
              
                  <a routerLink="/empleados"><i class="bi bi-trash-fill"></i></a>
                  <a routerLink="/inicio"><i class="bi bi-pencil-square"></i></a>
                  
                </td>
              </tr>
              <tr >
                <td colspan="100%" style="padding:0">
                    <div attr.id="flush-collapse{{proveedor.id}}" class="accordion-collapse collapse cont"
                        attr.aria-labelledby="flush-heading{{proveedor.id}}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis est sed, nesciunt suscipit, maiores itaque enim adipisci asperiores inventore corporis, </div>
                    </div>
                </td>
            </tr>
            </ng-container>
            
     
  
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>